<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.maidbrigade.maidbrigade" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ContactUsActivity"
            android:label="@string/title_activity_contact_us"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.maidbrigade.maidbrigade.MainActivity" />
        </activity>
        <activity
            android:name=".HomePageActivity"
            android:label="@string/title_activity_home_page"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.maidbrigade.maidbrigade.MainActivity" />
        </activity>
        <activity
            android:name=".UserProfileActivity"
            android:label="@string/title_activity_user_profile"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.maidbrigade.maidbrigade.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".LaunchPageActivity"
            android:label="@string/title_activity_launch_page" >
        </activity>
        <activity
            android:name=".activity_gcthank_you"
            android:label="@string/title_activity_activity_gcthank_you"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.maidbrigade.maidbrigade.MainActivity" />
        </activity>
        <activity
            android:name=".activity_gift_certificate"
            android:label="@string/title_activity_activity_gift_certificate"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.maidbrigade.maidbrigade.MainActivity" />
        </activity>
        <activity
            android:name=".activity_qcthank_you"
            android:label="@string/title_activity_activity_qcthank_you"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.maidbrigade.maidbrigade.MainActivity" />
        </activity>
        <activity
            android:name=".activity_quality_card"
            android:label="@string/title_activity_activity_quality_card"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.maidbrigade.maidbrigade.MainActivity" />
        </activity>
        <activity
            android:name=".activity_sign_in"
            android:label="@string/title_activity_activity_sign_in"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.maidbrigade.maidbrigade.MainActivity" />
        </activity>
        <activity
            android:name=".activity_sign_up"
            android:label="@string/title_activity_activity_sign_up"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.maidbrigade.maidbrigade.MainActivity" />
        </activity>
        <activity
            android:name=".password_reset"
            android:label="@string/title_activity_password_reset"
            android:parentActivityName=".activity_sign_in" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.maidbrigade.maidbrigade.activity_sign_in" />
        </activity>
        <activity
            android:name=".free_estimate"
            android:label="@string/title_activity_free_estimate"
            android:parentActivityName=".HomePageActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.maidbrigade.maidbrigade.HomePageActivity" />
        </activity>
        <activity
            android:name=".request_sent"
            android:label="@string/title_activity_request_sent"
            android:parentActivityName=".free_estimate" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.maidbrigade.maidbrigade.free_estimate" />
        </activity>
        <activity
            android:name=".why_hair_us_page"
            android:label="@string/title_activity_why_hair_us_page"
            android:parentActivityName=".HomePageActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.maidbrigade.maidbrigade.HomePageActivity" />
        </activity>
        <activity
            android:name=".job"
            android:label="@string/title_activity_job"
            android:parentActivityName=".HomePageActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.maidbrigade.maidbrigade.HomePageActivity" />
        </activity>
        <activity
            android:name=".green__cleaning_page"
            android:label="@string/title_activity_green__cleaning_page"
            android:parentActivityName=".HomePageActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.maidbrigade.maidbrigade.HomePageActivity" />
        </activity>
        <activity
            android:name=".FreeEstimate2"
            android:label="@string/title_activity_free_estimate2" >

        </activity>
    </application>

</manifest>
